body {
    background-color: #e2e216; 
    font-family: Georgia, serif;
    color: #000000;
    margin: 20px;
}
.container {
    display: flex;
    gap: 30px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 150px;
}

.menu li {
    background-color: #ffffff;
    margin-bottom: 5px;
    border-right: 15px solid #000000; 
}

.menu a {
    display: block;
    color: #993366;
    text-decoration: none;
    padding: 8px;
    font-size: 14px;
}

.conteudo {
    max-width: 500px;
}

h1 {
    color: #993366; 
    margin-top: 0;
}

p {
    font-size: 14px;
    line-height: 1.5;
}

.destaque {
    font-weight: bold;
}

.rodape {
    font-style: italic;
    font-size: 12px;
    color: #993366;
}

hr {
    border: 0;
    border-top: 1px dashed #993366;
    margin-top: 20px;
}

